.search-bar {
    margin-top: 50px;
    margin-bottom: 50px;
    ; 
}

.activeStar {
    color: orange;
}

ul#searchResultsList.list-group{
    width: 1025px
}

ul#readList.list-group{
    width: 1025px
}
ul#wishList.list-group{
    width: 1025px
}